@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 2px;
    background: rgb(10, 10, 10);
    transform: rotate(0);
    transition: all 0.5s;

}
.hamburger-middle{
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);

}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);

}

.open .hamburger-middle{
    display: none;

}

/* .hero-section {
    background-image: url('../../assets/images/hero.png');
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;

} */

body{
    background-image: url('../../assets/images/bg.png');
    background-size: cover;
    color: #fff;
    
}

.home-body{
    background-image: url('../../assets/images/bgf1.png');
    background-size: cover;
    color: #fff;
    
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* carousel */





.anim {
    opacity: 0; 
    transition: opacity 3s;;
}
.show {
    opacity: 1;
    transform: translateX(0px);
    transition-delay: 0s;
}

.opacity  {
    opacity: 0;
    /* display: none; */
    /* transform: translateX(400px); */
    transition: transform 3s, opacity 5s;
}


.show-opacity {
    opacity: 1;
    /* transform: translateX(0px); */
    transition-delay: 0s;
}

.character img:hover, .image-jello:hover{
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

  label:after {
    content: '+';
    position: absolute;
    right: 1em;
    color: #fff;
  }
  
  input:checked + label:after {
    content: '-';
    line-height: .8em;
  }
  
  .accordion__content{
    max-height: 0em;
    transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
  }
  input[name='panel']:checked ~ .accordion__content {
    /* Get this as close to what height you expect */
    max-height: 50em;
  }

  label{
    color: #fff;
  }

  .accordion{
    position: relative;
    overflow: scroll;
    
  }

  #myVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 20%;
  }
  
  ._content {
    position: absolute;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .txt-neon {
    
      text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
 
  }